.placar{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: lightgray;
  color: red;
  font-size: 70pt;
  font-family: sans-serif;
}

.controles{
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
  width: 400px;
  height: 200px;
}

.controles button{
  cursor: pointer;
}